table, td,tr {
  border:2px solid #000;
  margin: 5px;
}




.main{
  width:100%;
  background-color: #999;
  /* flex box syntax */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.left{
text-align: justify;
  background-color: #F0E68C;
  border: 5px solid #000;
  margin:5px;
  flex:1;
  color:#000;
  /* background-image: url(); */
}
.right{
text-align: justify;
  background-color: #00CED1;
  border: 5px solid #000;
  margin:5px;
  padding: 6px;
  flex:2;
  color:#000;
}
#name{
  color:green;
}
.left img{
  border-radius: 50px;
  border: 4px solid #666;
  width:100px;
  height:100px;
}
/* media queries(1024,1280,768,480)
1280-1024:Desktop
1024-768:Tablet(LandScape)
768-480:Tablet
480:mobile landscape (or) smaller device
 */
 */
@media only screen and (min-width:1024px) and (max-width:1280px){
  .main{
    display:flex;
     flex-direction:row;
    width:100%;

  }
  .left{

     background-color: #00FF00;
  }
.right{

   background-color: #00FF00;
}
}
@media only screen and (min-width:768px) and (max-width:1024px){
  .main{
    display:flex;
     flex-direction:row;
    width:100%;

  }
  .left{

     background-color: #98FB98;
  }
  .right{

   background-color: #98FB98;
  }
}
@media only screen and (min-width:480px) and (max-width:768px){
  .main{
    display:flex;
     flex-direction:row;
    width:100%;

  }
  .left{

    background-color: #DDA0DD;
  }
  .right{

   background-color: #DDA0DD;
  }
}
@media only screen and  (max-width:480px){
  .main{
    display:flex;
     flex-direction:row;
    width:100%;

  }
  .left{

     background-color: #FA8072;
  }
  .right{

   background-color: #FA8072;
  }

}
